<div class="repo">
    <div class="container">
        <br>
       <div class="search">
        <app-search-form (emitSearch)="searchRepo($event)"></app-search-form>
    </div>
        
    </div>

    <h2 class="text-center text-white"> REPOSITORIES </h2>
    <div class="container card-columns">
        <div class="card" *ngFor="let gitrepo of gitrepos">
            <div class="card">
                <div class="card-header">
                    <h4>{{gitrepo.name}}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text"> <strong>Language Used: </strong> {{gitrepo.language}}.</p>

                    <a href="{{gitrepo.html_url}}" target="_blank" class="btn btn-outline-dark btn-lg btn-block">Check
                        Out&nbsp;&nbsp;<i class="fa fa-github mr-3"></i></a>
                </div>
                <div class="card-footer flex-footer">
                    <small class="ml-4"><b> Forks:</b>{{gitrepo.forks_count}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
